body {
        text-align: center;
        background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/escheresque_ste.png);
        color: Black;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
}
#head{
        margin-top: 20vh
}
h1 {
        font-size: 5vw;
}
h3{
        font-size: 25px;
        margin-top: 50px;
}
input{
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
}
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        content-box: 50px;
}
.modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
}
.close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
}
.close:hover,
.close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
}
button{
        padding: 3px 12px;
}
.button {
        background-color: #4bb14f; /* Green */
        border: none;
        padding: 10px 24px;
        border-radius: 6px;
        color: #275204;
        box-shadow:inset 0px 1px 0px 0px #4bb14e;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 6px 24px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
}

.button1 {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        transform: translateY(-7px);
}
.closes {
        color: transparent;
        background-color: transparent;
        border-color: transparent;
        cursor: default;
}
input {
        font-size: 20px;
}
.fade_div {
    	display: none;
    	position: fixed;
    	background-color: yellow;
    	border: 1px solid black;
    	bottom: 20px;
    	right: 20px
}
.myAlert-top{
    	position: fixed;
    	top: 5px; 
    	left:2%;
    	width: 96%;
}

.myAlert-bottom{
    	position: fixed;
    	bottom: 5px;
    	left:2%;
    	width: 96%;
}

div.fullscreen {
  	position: absolute;
  	width:100%; 
  	height:960px; 
  	top: 0; 
  	left: 0; 
  	background-color: lightblue;
}

.alert{
    	display: none;
}
.footer {
   	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	background-color: #1c1c1c;
   	color: white;
  	text-align: center;
}
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover:not(.active) {
  	background-color: #111;
}

.active {
  	background-color: #4CAF50;
}
